<a href="https://colab.research.google.com/github/hector323/Complete-Python-3-Bootcamp/blob/master/pp_python12_pandas_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
#note because we are using colabs we are loading in data a little differen than you would on your computer
from google.colab import files
uploaded = files.upload()
import io
df = pd.read_csv(io.BytesIO(uploaded['winequality-red.csv']))

Saving winequality-red.csv to winequality-red (1).csv

In [0]:
df = pd.read_csv('winequality-red.csv', delimiter = ';')

In [0]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [0]:
df.shape

(1599, 12)

In [0]:
df.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [0]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [0]:
df1 = pd.DataFrame([{'a': 1}, {'b':2}, {'c':3}])

In [0]:
df1

     a    b    c
0  1.0  NaN  NaN
1  NaN  2.0  NaN
2  NaN  NaN  3.0

# Groupby

In [0]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [0]:
df.groupby('quality').mean()

         fixed acidity  volatile acidity  ...  sulphates    alcohol
quality                                   ...
3             8.360000          0.884500  ...   0.570000   9.955000
4             7.779245          0.693962  ...   0.596415  10.265094
5             8.167254          0.577041  ...   0.620969   9.899706
6             8.347179          0.497484  ...   0.675329  10.629519
7             8.872362          0.403920  ...   0.741256  11.465913
8             8.566667          0.423333  ...   0.767778  12.094444

[6 rows x 11 columns]

In [0]:
df.groupby('quality').max()

         fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
quality                                                ...
3                 11.6             1.580         0.66  ...  3.63       0.86     11.0
4                 12.5             1.130         1.00  ...  3.90       2.00     13.1
5                 15.9             1.330         0.79  ...  3.74       1.98     14.9
6                 14.3             1.040         0.78  ...  4.01       1.95     14.0
7                 15.6             0.915         0.76  ...  3.78       1.36     14.0
8                 12.6             0.850         0.72  ...  3.72       1.10     14.0

[6 rows x 11 columns]

In [0]:
df.groupby('quality').min()

         fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
quality                                                ...
3                  6.7              0.44         0.00  ...  3.16       0.40      8.4
4                  4.6              0.23         0.00  ...  2.74       0.33      9.0
5                  5.0              0.18         0.00  ...  2.88       0.37      8.5
6                  4.7              0.16         0.00  ...  2.86       0.40      8.4
7                  4.9              0.12         0.00  ...  2.92       0.39      9.2
8                  5.0              0.26         0.03  ...  2.88       0.63      9.8

[6 rows x 11 columns]

# Sorting

In [0]:
df.sort_values('quality') # Note: this is ascending by default.

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1478            7.1             0.875         0.05  ...       0.52     10.2        3
832            10.4             0.440         0.42  ...       0.86      9.9        3
899             8.3             1.020         0.02  ...       0.49     11.0        3
1374            6.8             0.815         0.00  ...       0.51      9.8        3
459            11.6             0.580         0.66  ...       0.57      9.0        3
...             ...               ...          ...  ...        ...      ...      ...
495            10.7             0.350         0.53  ...       0.65     11.0        8
1403            7.2             0.330         0.33  ...       1.10     10.0        8
1090           10.0             0.260         0.54  ...       0.63     11.8        8
1449            7.2             0.380         0.31  ...       0.76     11.3        8
1549            7.4             0.360         0.30  ...       0.70     11.4        8

[1599 rows x 12 columns]

In [0]:
df.sort_values('quality', ascending=False)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
495            10.7             0.350         0.53  ...       0.65     11.0        8
1403            7.2             0.330         0.33  ...       1.10     10.0        8
390             5.6             0.850         0.05  ...       0.82     12.9        8
1061            9.1             0.400         0.50  ...       0.69     12.5        8
1202            8.6             0.420         0.39  ...       0.69     11.7        8
...             ...               ...          ...  ...        ...      ...      ...
690             7.4             1.185         0.00  ...       0.54     10.7        3
1478            7.1             0.875         0.05  ...       0.52     10.2        3
899             8.3             1.020         0.02  ...       0.49     11.0        3
1299            7.6             1.580         0.00  ...       0.40     10.9        3
832            10.4             0.440         0.42  ...       0.86      9.9        3

[1599 rows x 12 columns]

In [0]:
df.sort_values(['quality', 'alcohol'], ascending=False) # ascending=False will apply to both columns.

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
588             5.0             0.420         0.24  ...       0.74     14.0        8
1269            5.5             0.490         0.03  ...       0.82     14.0        8
455            11.3             0.620         0.67  ...       0.69     13.4        8
1120            7.9             0.540         0.34  ...       0.72     13.1        8
390             5.6             0.850         0.05  ...       0.82     12.9        8
...             ...               ...          ...  ...        ...      ...      ...
832            10.4             0.440         0.42  ...       0.86      9.9        3
1374            6.8             0.815         0.00  ...       0.51      9.8        3
1469            7.3             0.980         0.05  ...       0.55      9.7        3
459            11.6             0.580         0.66  ...       0.57      9.0        3
517            10.4             0.610         0.49  ...       0.63      8.4        3

[1599 rows x 12 columns]

In [0]:
df.sort_values(['quality', 'pH'], ascending = False)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
588             5.0             0.420         0.24  ...       0.74     14.0        8
390             5.6             0.850         0.05  ...       0.82     12.9        8
1269            5.5             0.490         0.03  ...       0.82     14.0        8
828             7.8             0.570         0.09  ...       0.74     12.7        8
267             7.9             0.350         0.46  ...       0.86     12.8        8
...             ...               ...          ...  ...        ...      ...      ...
832            10.4             0.440         0.42  ...       0.86      9.9        3
1374            6.8             0.815         0.00  ...       0.51      9.8        3
1469            7.3             0.980         0.05  ...       0.55      9.7        3
459            11.6             0.580         0.66  ...       0.57      9.0        3
517            10.4             0.610         0.49  ...       0.63      8.4        3

[1599 rows x 12 columns]

# Adding Columns

In [0]:
df['non_free_sulfur'] = df['total sulfur dioxide'] - df['free sulfur dioxide']

In [0]:
# Typically, we don't name columns with spaces in them because they are a little tricky 
# to work with. 
df.rename(columns={'total sulfur dioxide': 'total_sulfur_dioxide', 
                   'free sulfur dioxide': 'free_sulfur_dioxide' }, inplace = True)

In [0]:
df.eval('non_free_sulfur2 = total_sulfur_dioxide - free_sulfur_dioxide', inplace = True)

In [0]:
df.head()

   fixed acidity  volatile acidity  ...  non_free_sulfur  non_free_sulfur2
0            7.4              0.70  ...             23.0              23.0
1            7.8              0.88  ...             42.0              42.0
2            7.8              0.76  ...             39.0              39.0
3           11.2              0.28  ...             43.0              43.0
4            7.4              0.70  ...             23.0              23.0

[5 rows x 14 columns]

# Dropping Columns

In [0]:
df.drop('non_free_sulfur2', axis=1).head()

   fixed acidity  volatile acidity  ...  quality  non_free_sulfur
0            7.4              0.70  ...        5             23.0
1            7.8              0.88  ...        5             42.0
2            7.8              0.76  ...        5             39.0
3           11.2              0.28  ...        6             43.0
4            7.4              0.70  ...        5             23.0

[5 rows x 13 columns]

In [0]:
df.columns # Wait, the non_free_sulfur2 column is still there... why? 
           # It's because we didn't tell it drop inplace.

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'non_free_sulfur',
       'non_free_sulfur2'],
      dtype='object')

In [0]:
df.drop('non_free_sulfur2', inplace=True, axis=1) # Note the axis=1 argument telling them we're
                                                  # dropping a column.

In [0]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'non_free_sulfur'],
      dtype='object')

# Let's add in another dataset now!

In [0]:
import pandas as pd
#note because we are using colabs we are loading in data a little differen than you would on your computer
from google.colab import files
uploaded = files.upload()
import io
df = pd.read_csv(io.BytesIO(uploaded['winequality-white.csv']))

Saving winequality-white.csv to winequality-white.csv

In [0]:
df_white = pd.read_csv('winequality-white.csv', delimiter = ';')

In [0]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

# Concat DataFrames

In [0]:
new_df = pd.concat([df, df_white], axis = 1)
print(new_df.shape)

(4898, 24)

In [0]:
new_df = pd.concat([df, df_white], axis = 0)
print(new_df.shape)

(6497, 12)

# now let's play around with our data here from multiple sources

In [0]:
red_wines_df = pd.read_csv('winequality-red.csv', delimiter=';')
white_wines_df = pd.read_csv('winequality-white.csv', delimiter=';')

In [0]:
red_wines_df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [0]:
white_wines_df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [0]:
red_wines_quality_df = red_wines_df.groupby('quality').mean()['fixed acidity'].reset_index()
red_wines_quality_df.head()

   quality  fixed acidity
0        3       8.360000
1        4       7.779245
2        5       8.167254
3        6       8.347179
4        7       8.872362

In [0]:
white_wines_quality_df = white_wines_df.groupby('quality').mean()['fixed acidity'].reset_index()
white_wines_quality_df.head()

   quality  fixed acidity
0        3       7.600000
1        4       7.129448
2        5       6.933974
3        6       6.837671
4        7       6.734716

# merging dataframes - what if i want to merge those two dataframes together?

In [0]:
pd.merge(red_wines_quality_df, white_wines_quality_df,  on=['quality'], suffixes=[' red', ' white'])

   quality  fixed acidity red  fixed acidity white
0        3           8.360000             7.600000
1        4           7.779245             7.129448
2        5           8.167254             6.933974
3        6           8.347179             6.837671
4        7           8.872362             6.734716
5        8           8.566667             6.657143